.block {
    padding: 40px;
}

.leftBlock {
    background-color: #e2e2e3;
    font-size: 16px;
    position: relative;
    width: 200px;
    z-index: 1;
    /* z-index works only when elements are positioned(absolute/relative/fixed) */
}

.leftBlock>div {
    padding: 6px;
}

.leftBlock a {
    color: black;
}

.leftBlock a:hover {
    text-decoration: none;
}

.right {
    width: 450px;
    position: relative;
    top: -230px;
    left: 200px;
    padding-top: 25px;
}

.rightBlock {
    display: none;
    padding-top: 20px;
}

div.row {
    padding: 0 0 20px 80px;
}

div.line {
    margin-top: 20px;
    margin-left: -7px;
    border-bottom: 1px dashed #e7e7e7;
}

.row a {
    color: #999;
    padding-right: 20px;
    font-size: 14px;
}

.row a:hover {
    color: #C40000;
    text-decoration: none;
}

a.prom,
a.prom:hover {
    color: lightskyblue;
}