nav {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

span,
a {
    color: #999;
    margin: 0 10px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

a:hover,
.redColor {
    color: #C40000 !important;
}