body {
    font-size: 12px;
    font-family: arial;
}

.searchBorder {
    background-color: #C40000;
    width: 400px;
    height: 40px;
    padding: 1px;
    margin: 50px auto;
}

input {
    width: 275px;
    height: 36px;
    border: none;
    margin: 1px;
    outline: none;
}

button {
    width: 110px;
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

a,
span {
    color: #999;
}

.select a {
    padding: 0 20px;
}

a:hover {
    color: #C40000;
    text-decoration: none;
}

.select {
    margin-top: 3px;
    margin-left: -20px;
    font-size: 14px;
}

.pic {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -2;
}