body {
    font-size: 12px;
    font-family: Arial;
}

.mainFrame {
    margin: 20px 20px 0 20px;
    padding: 5px;
    background-color: #FAF9F9;
}

table td {
    border: 1px solid #CCCCCC;
    width: 45px;
    height: 22px;
    text-align: center;
}

.table1 a {
    color: #806F66;
}

.table1 a:hover {
    color: #C40000;
}

.table1 td:hover {
    background-color: #F1EDEC;
}

.split {
    width: 10px;
    background-color: #F1EDEC;
}

input {
    width: 50px;
    font-size: 12px;
    height: 16px;
    vertical-align: bottom;
    border: 1px solid transparent;
}

.table2 td {
    padding: 2px;
}